{% extends 'base-fuera.html' %}
{% load static %}
{% block title %}Tarea{% endblock %}


{% block extrajs %}
    <title>Admintask</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/creartarea.css' %}" th:href="@{/css/creartarea.css}">

{% endblock %}

{% block content %}


<div class="modal-dialog text-center">
    <div class="col-md-7 main-section">
      <div class="modal-content">

        <div class="col-12 user-img">
            <img src="{% static 'img/user.png' %}" th:src="@{/img/user.png}"/>
        </div>

        {% if validlink %}

        <h4 style="color:white;">Nueva contraseña</h4>

        <form method="post" style="color:white;">
            {% csrf_token %}

            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}

            {{ form.new_password1.errors }}
            <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
            <button type="submit" class="btn btn-primary">Listo</button>

        </form>

        {% else %}

        <p class="text-center">Enlace inválido: este enlace ya ha sido utilizado</p>

        {% endif %}
        

      </div>
    </div>
  </div>





{% endblock %}