{% extends 'base.html' %}
{% load static %}
{% block title %}Unidad{% endblock %}

{% block content %}


<div class="container"
  style="background: white; width:400px; border-radius: 15px; box-shadow: 10px 10px 5px grey; text-align: center;">
  <br>
  <h1 style="font-family: Helvetica; color:darkslategray; text-align: center; ">Borrar unidad</h1>

  <div id="content-centro">
    <tr>
      <td>Unidad: {{unidad.1}}</td><br>
      <td>Cliente: {{unidad.2}}</td>
    </tr>
    <form action="" method="POST">
      {% csrf_token %}
      <br>
      <button type="submit" class="btn btn-danger" style="width:200px;">Eliminar</button>
      </br>
      <a class="btn btn-primary" style="width:200px;" href="{% url 'listar_unidades' %}">Volver</a>
    </form>

    {{mensaje}}
    <br>



  </div>
</div>


<!--Mensaje de información de operación-->
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>
  alert("{{ message }}");
</script>
{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}