{% extends 'base.html' %}
{% load static %}
{% block title %}Editar subtarea{% endblock %}

{% block content %}

<div class="container" style = "background: white; width:400px; border-radius: 15px; box-shadow: 10px 10px 5px grey; text-align: center;">
    <br>
    <h1 style = "font-family: Helvetica; color:darkslategray; text-align: center; ">Editar subtarea</h1>
      <div id="content-centro" > 
        <form action="" method="POST">
            {% csrf_token %}
            <br>
            <label for="">Nombre subtarea</label><br>
            <input type="text" value="{{subtarea.1}}" name="nombre_subtarea" style="width:200px;" required="required">
            <br>

            <label for="">Estado subtarea</label><br>
            <select name="estado_subtarea" id="DESCRIPCION" style="width:200px;" required="required">
              <option value="">seleccionar</option>
              {% if subtarea.2 == "1" %}
                <option selected="true" value="1">Finalizada</option>
                <option value="0">No finalizada</option> 
              {% elif subtarea.2 == "0" %}
                <option selected="true" value="0">No finalizada</option>
                <option value="1">Finalizada</option> 
              {% endif %}
            </select>

            <button type="submit" class="btn btn-primary" style="width:200px;">Guardar</button>
            </br>
            <a class="btn btn-primary" 
            href="{% url 'subtareas' %}" style="width:200px;">Volver</a><br>
            {{mensaje}}
            <br>
        </form>
      </div>
    </div>
    {% if messages %}
    {% for message in messages %}
     {% if message.tags %}  
        <script>alert("{{ message }}");</script> 
      {% endif %}
    {% endfor %}
{% endif %}
  </div>  
{% endblock %}