{% extends 'base.html' %}
{% load static %}
{% block title %}Proceso{% endblock %}

{% block content %}

<div class="container" style = "background: white; width:400px; border-radius: 15px; box-shadow: 10px 10px 5px grey; text-align: center;">
    <br>
    <h1 style = "font-family: Helvetica; color:darkslategray; text-align: center; ">Editar Proceso</h1>
  
      <div id="content-centro" > 

        <form action="" method="POST">
            {% csrf_token %}
            
            <label for="">Nombre</label><br>
            <input type="text" value="{{proceso.1}}" name="nombre_proceso" size="20">
            <br>
            <label for="">Descripción</label><br>
            <input type="text" value="{{proceso.2}}" name="descripcion_proceso" size="20">
            <br>
            <label for="">Días pre intervención</label><br>
            <input type="number" value="{{proceso.3}}" required="required" min="1" name="dias_inter" size="20">
            <br>
                
            <button type="submit" class="btn btn-primary" style="width:200px;">Guardar</button>
            <br>
            <a class="btn btn-primary" 
                href="{% url 'listar_procesos' %}" style="width:200px;">Volver</a><br>
               
                <br>
                {{mensaje}}
        </form>
        
      </div>
    </div>
    
    {% if messages %}
    {% for message in messages %}
     {% if message.tags %}  
        <script>alert("{{ message }}");</script> 
      {% endif %}
    {% endfor %}
{% endif %}
  </div>  
{% endblock %}