{% extends 'base-fuera.html' %}
{% load static %}


{% block content %}

<!-- Page Content  -->
<br></br>
<section id="inicio">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div>
                    <h1 style="color:#2692FE">AdminTask</h1>
                    <h5>La manera más fácil de ordenar sus tareas!</h5>
                </div>
                <ul>
                    <li> Control de actividad y tiempo</li>
                    <li> Notificaciones por correo</li>
                    <li> Y mucho más!</li>
                </ul>
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                <img src="{% static 'img/business8.png' %}" class="img-fluid" alt="">
            </div>


        </div>

    </div>
</section>
<br></br>




{% endblock %}



