{% extends 'base-fuera.html' %}
{% load static %}


{% block content %}
 <!-- Services-->
<section class="page-section" id="services" style = "margin-top: 10px; margin-bottom: 10px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">AdminTask</h2>
            <h3 style = "color: #2693FF;">La mejor solución para el control de sus tareas</h3>
        </div>
        <div>
            <p class="text-muted">Admintask proporciona un buen sistema de gestión para los procesos de su empresa. Nuestra
                tecnología le permitirá obtener mayor control y monitorización de sus procesos.</p>
            <br>
            <h4 style = "color: #2693FF;">Ventajas</h4>
            <ul class="text-muted">
                <li>El sistema está optimizado para brindar seguridad y protección de sus datos integrando
                    algoritmos de encriptación en todos los datos sensibles. </li>
                <li>El sistema le proporcionará un apoyo en los procesos productivos.</li>
                <li>El sistema esta disponible en un ambiente web para el acceso de funcionarios autorizados y
                    validados.</li>
                <li>El sistema de adminstración esta integrado en un entorno de escritorio, brindando mayor
                    seguridad ante amenzas.</li>
            </ul>            
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="far fa-check-circle" style = "color: #2693FF;"></i>
                </span>
                <h4 class="my-3">Control de tareas</h4>
                <p class="text-muted">En nuestro panel, tu equipo podrá ver todas tareas asignadas con sus tiempos de ejecución, estados y otros detalles más.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-laptop fa-stack-1x fa-inverse" style = "color: #2693FF;"></i>
                </span>
                <h4 class="my-3">Facil acceso</h4>
                <p class="text-muted">Puedes acceder a sus tareas desde cualquier dispositivo con conexión a internet.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-envelope" style = "color: #2693FF;"></i>
                </span>
                <h4 class="my-3">Notificaciones</h4>
                <p class="text-muted">Para que no pierda informaciones sobre sus proyectos, el sistema te mandra al tanto de tus tareas!</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}